(
    docking_nodes: Node(
        split: Horizontal,
        extend: 0.1961849,
        left: Node(
            split: Vertical,
            extend: 0.5421812,
            left: Leaf(
                window: 1,
            ),
            right: Leaf(
                window: 3,
            ),
        ),
        right: Node(
            split: Horizontal,
            extend: 0.68301904,
            left: Node(
                split: Vertical,
                extend: 0.8045729,
                left: Leaf(
                    window: 4,
                ),
                right: Leaf(
                    window: 2,
                ),
            ),
            right: Node(
                split: Vertical,
                extend: 0.1682342,
                left: Leaf(
                    window: 0,
                ),
                right: Leaf(
                    window: 5,
                ),
            ),
        ),
    ),
    windows: [
        (
            rect: (
                min: (1049.25, 0.0),
                max: (1408.0, 295.58752),
            ),
            tabs: [
                (
                    label: "Frame Histogram",
                ),
            ],
            active_tab: 0,
        ),
        (
            rect: (
                min: (0.0, 0.0),
                max: (276.22827, 952.61237),
            ),
            tabs: [
                (
                    label: "Hierarchy",
                ),
            ],
            active_tab: 0,
        ),
        (
            rect: (
                min: (276.22833, 1413.6345),
                max: (1049.2499, 1757.0),
            ),
            tabs: [
                (
                    label: "Asset Browser",
                ),
                (
                    label: "Console",
                ),
                (
                    label: "Inspect Log Entry",
                ),
            ],
            active_tab: 0,
        ),
        (
            rect: (
                min: (0.0, 952.61237),
                max: (276.22827, 1757.0),
            ),
            tabs: [
                (
                    label: "Render Settings",
                ),
            ],
            active_tab: 0,
        ),
        (
            rect: (
                min: (276.22833, 0.0),
                max: (1049.2499, 1413.6345),
            ),
            tabs: [
                (
                    label: "Viewport",
                ),
            ],
            active_tab: 0,
        ),
        (
            rect: (
                min: (1049.25, 295.5875),
                max: (1408.0, 1757.0),
            ),
            tabs: [
                (
                    label: "Selected",
                ),
            ],
            active_tab: 0,
        ),
    ],
)