(
    docking_nodes: Node(
        split: Horizontal,
        extend: 0.24472657,
        left: Node(
            split: Vertical,
            extend: 0.5421812,
            left: Leaf(
                window: 2,
            ),
            right: Leaf(
                window: 4,
            ),
        ),
        right: Node(
            split: Horizontal,
            extend: 0.7620935,
            left: Leaf(
                window: 0,
            ),
            right: Node(
                split: Vertical,
                extend: 0.27323613,
                left: Leaf(
                    window: 1,
                ),
                right: Leaf(
                    window: 3,
                ),
            ),
        ),
    ),
    windows: [
        (
            rect: (
                min: (344.575, 0.0),
                max: (1155.0043, 1757.0),
            ),
            tabs: [
                (
                    label: "Asset Browser",
                ),
                (
                    label: "Console",
                ),
                (
                    label: "Inspect Log Entry",
                ),
            ],
            active_tab: 0,
        ),
        (
            rect: (
                min: (1155.0044, 0.0),
                max: (1408.0, 480.07593),
            ),
            tabs: [
                (
                    label: "Frame Histogram",
                ),
            ],
            active_tab: 0,
        ),
        (
            rect: (
                min: (0.0, 0.0),
                max: (344.57495, 952.61237),
            ),
            tabs: [
                (
                    label: "Hierarchy",
                ),
            ],
            active_tab: 0,
        ),
        (
            rect: (
                min: (1155.0044, 480.07587),
                max: (1408.0, 1757.0),
            ),
            tabs: [
                (
                    label: "Selected",
                ),
            ],
            active_tab: 0,
        ),
        (
            rect: (
                min: (0.0, 952.61237),
                max: (344.57495, 1757.0),
            ),
            tabs: [
                (
                    label: "Render Settings",
                ),
            ],
            active_tab: 0,
        ),
        (
            rect: (
                min: (169.80627, 438.6),
                max: (1259.3937, 1076.8562),
            ),
            tabs: [
                (
                    label: "Viewport",
                ),
            ],
            active_tab: 0,
        ),
    ],
)