(
    docking_nodes: Node(
        split: Horizontal,
        extend: 0.1094336,
        left: Node(
            split: Vertical,
            extend: 0.5421812,
            left: Leaf(
                window: 1,
            ),
            right: Leaf(
                window: 3,
            ),
        ),
        right: Node(
            split: Horizontal,
            extend: 0.5419054,
            left: Node(
                split: Vertical,
                extend: 0.9,
                left: Leaf(
                    window: 4,
                ),
                right: Leaf(
                    window: 2,
                ),
            ),
            right: Leaf(
                window: 0,
            ),
        ),
    ),
    windows: [
        (
            rect: (
                min: (1705.0647, 0.0),
                max: (2880.0, 1800.0),
            ),
            tabs: [
                (
                    label: "Selected",
                ),
                (
                    label: "Profiler",
                ),
            ],
            active_tab: 1,
        ),
        (
            rect: (
                min: (0.0, 0.0),
                max: (315.1687, 975.92615),
            ),
            tabs: [
                (
                    label: "Hierarchy",
                ),
            ],
            active_tab: 0,
        ),
        (
            rect: (
                min: (315.16876, 1620.0),
                max: (1705.0647, 1800.0),
            ),
            tabs: [
                (
                    label: "Console",
                ),
                (
                    label: "Inspect Log Entry",
                ),
                (
                    label: "Asset Browser",
                ),
            ],
            active_tab: 2,
        ),
        (
            rect: (
                min: (0.0, 975.92615),
                max: (315.1687, 1800.0),
            ),
            tabs: [
                (
                    label: "Render Settings",
                ),
            ],
            active_tab: 0,
        ),
        (
            rect: (
                min: (315.16876, 0.0),
                max: (1705.0647, 1620.0),
            ),
            tabs: [
                (
                    label: "Viewport",
                ),
            ],
            active_tab: 0,
        ),
    ],
)